/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /* padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden; */
}

.bg_img {

  /* max-width:100%;
  max-height:100%; */
  /* height: 600px; */
  background-image: linear-gradient(to bottom, white, rgba(0, 255, 0, 0) 100%), url('https://infinigen.cs.princeton.edu/0005.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;

}

.youtube_example {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.iframe_youtube {
  display: flex;
  flex-direction: column;
  height:  600px;

}

.main_title {
  color: rgb(73, 73, 73);
  font-size: 80px;
  font-family: "Helvetica";
}

.main_taglinetitle {
  margin-top: -20px;
  color: rgb(73, 73, 73);
  font-size: 40px;
  
  font-weight: bold;
  font-family: "Helvetica";
}

.blur_box {
  border-radius: 25px;
  opacity: 80%;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myImageViewer {
  padding: 0px;
}

.redbox {
  width: 100%;
  height: 5cm;
  background-color: red;
}