/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /* padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden; */
}

.main_group {
  /* font-family: "PT Sans", sans-serif; */
}

p {
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
  color: rgb(66, 80, 102);
}

li {
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
  color: rgb(66, 80, 102);
}

h1 {
  /* font-family: "Helvetica"; */
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
  color: rgb(66, 80, 102);
}

.author_list {
  text-align: center;
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
  color: rgb(66, 80, 102);
}

.icon {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  padding-left: -5px;
  /* height: 13.45px; */
  /* color: white; */
  filter: brightness(100) saturate(100%);
  overflow: hidden;
}

.gallery_pagination {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.read_the_paper {
  background-color: #363636;
  border-color: #2a2a2a9c;
  opacity: 93%;
}

.read_the_paper:hover {
  text-decoration: none;
  opacity: 100%;
}

.read_the_paper:active {
  text-decoration: none;
}

/* .ril__inner {
  margin-right: 7005px;
} */

.lightbox_div {
  /* margin-right: 40px; */
  /* justify-content: center;
  align-content: center; */
}

.bg_img {

  /* max-width:100%;
  max-height:100%; */
  /* height: 600px; */
  background-image: linear-gradient(to bottom, white, rgba(0, 255, 0, 0) 100%), url('https://infinigen.cs.princeton.edu/0005.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;

}

.stay_within_navbar {
  max-width: 1100px;
  /* background-color: lightpink; */

}

.grid_container {
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);  */
}

.contributor_image {
  height: 80px;
  border-radius: 40px;
}

.capability_image {
  /* width: 200px; */
}

.real_vs_fake_imgs {
  /* height: 100px; */
}

.list_item {
  margin: 20px 0;
}


.col_demo {
  text-align: center;
  background-color: grey;
}

.capability_outer {
  padding-top: 50px;
  margin-top: 60px;
  /* width: 500px; */
  height: 500px;
  background-color: lightblue;
}

.about_infinigen_left {
  /* background-color: red; */
}

.vertical_center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about_infinigen_img {
  width: 100%;
  /* margin-top: 50px; */
  /* top: 50%; */
  /* background-color: red; */
}

.youtube_outer {
  background-color: black;
  justify-content: center;
  display: flex;
}

.youtube_inner {
  width: 1070px;
}

.iframe_youtube {
  margin-bottom: -7px;
  height: 600px;
  width:100%;

}

.main_title {
  color: rgb(73, 73, 73);
  font-size: 80px;
  font-family: "Helvetica";
}

.main_taglinetitle {
  margin-top: -20px;
  color: rgb(73, 73, 73);
  font-size: 40px;
  
  font-weight: bold;
  font-family: "Helvetica";
}

.ReactGridGallery_tile {
  flex-grow: 1;
}


/* .ReactGridGallery_tile {
  margin-right: 2px;
} */

.blur_box {
  border-radius: 25px;
  opacity: 80%;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myImageViewer {
  padding: 0px;
}

.redbox {
  width: 100%;
  height: 5cm;
  background-color: red;
}